@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Remitente</th>
      <th scope="col">Destinatario</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Encomienda</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark Otto</td>
      <td>Jacob Thornton</td>
      <td>20-08-2022</td>
      <td>15:30</td>
      <td>1</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob Thornton</td>
      <td>Larry Arias</td>
      <td>27-08-2022</td>
      <td>10:03</td>
      <td>2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry Arias</td>
      <td>Mark Otto</td>
      <td>05-09-2022</td>
      <td>09:46</td>
      <td>3</td>
    </tr>
  </tbody>
</table>