@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Dirección</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Calle 23 # 98 - 12</td>
      <td>(57) 312 936 6104</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Avenida rosales # 9 bis - 122</td>
      <td>(57) 324 198 8766</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Arias</td>
      <td>Carrera 93 # 104 - 49</td>
      <td>(57) 318 234 0987</td>
    </tr>
  </tbody>
</table>